/* dosis-regular - latin */
@font-face
{
	font-family: "Dosis";
	font-style: normal;
	font-weight: 200;
	src:
		url("dosis-v19-latin-200.woff2") format("woff2"),	/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("dosis-v19-latin-200.woff") format("woff");		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.page
{
	margin: 0;
	background-color: #F1EBDE;
}

.text
{
	font-family: "Dosis", Helvetica, sans-serif;
	color: #4C4C47;
}

.header
{
	padding: 10px;
}

.header-title
{
	text-align: center;
	font-size: 3.5em;
	color: #E63C2D;
	margin: 5px auto;
	line-height: 1;
}

.textheader-subtitle
{
	text-align: center;
	font-size: 1.3em;
	margin: 5px auto;
	line-height: 1;
}

.login-form
{
	display: flex;
	flex-direction: column;
}

.login-form__title
{
	font-size: 2em;
	margin: 5px 0;
}

.login-form__label
{
	font-size: 1.2em;
	margin: 10px 0 5px 0;
}

.login-form--limited-width
{
	width: 400px;
	margin: auto;
}

.input-text
{
	font-size: 1.4em;
	border-style: none none solid none;
	border-color: #4C4C47;
	padding: 5px;
	background: #E6E6E6;
	outline: none;
}

.input-text:focus
{
	border-color: #E63C2D;
}

.button
{
    font-size: 2em;
    font-weight: bold;
    background-color: #F05E4A;
    color: #F1EBDE;
    border-style: none;
    border-radius: 4px;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
}

.button:hover
{
	background-color: #E63C2D;
}

.login-form__button
{
	width: 200px;
	margin: 10px;
	align-self: center;
}

.navigation__list
{
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.navigation__list-item
{
	margin: 5px 10px;
}

.navigation__link:hover
{
	color: #E63C2D;
}