@font-face
{
	font-family: "Dosis";
	font-style: normal;
	font-weight: 200;
	src:
		url("/resources/fonts/dosis-v19-latin-200.woff2") format("woff2"),  /* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/resources/fonts/dosis-v19-latin-200.woff") format("woff");    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.page
{
	margin: 0 auto;
	width: 1000px;
	background-color: #282828;
}

.hr
{
	border: none;
	border-top: 3px solid #679436;
}

.hr--short
{
	width: 300px;
	border: none;
	border-top: 3px solid #679436;
}

.button
{
	font-size: 1.5rem;
	padding: 10px 45px;
	border: none;
	border-radius: 5px;
	background-color: #679436;
	cursor: pointer;
}

.button:hover
{
	background-color: #87a330;
}

.button:disabled
{
	background-color: #343434;
}

.form
{
	display: flex;
	padding: 20px;
	flex-direction: column;
	gap: 5px;
}

.form--limited-width
{
	width: 500px;
	margin: auto;
}

.form__title
{
	font-size: 1.5rem;
}

.text-input
{
	font-size: 1.4em;
	border-style: none none solid none;
	border-color: #e5e5e5;
	padding: 5px;
	background-color: #343434;
	outline: none;
 }

.text-input:focus
{
	border-color: #679436;
}

.table
{
	width: 100%;
	border-collapse: collapse;
}

.table--no-decoration
{
	border: none;
}

.text
{
	font-size: 1.2rem;
	font-family: 'Dosis', sans-serif;
	color: #e5e5e5;
}

.text--left-align
{
	text-align: left;
}

.text--special
{
	color: #679436;
}

.text--error
{
	color: #ea3838;
	text-decoration: underline;
}

.list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link
{
	text-decoration: underline;
	cursor: pointer;
}

.link:hover
{
	color: #679436;
}

.header
{
	padding: 5px;
}

.header__author
{
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
	margin: 2px;
	line-height: 1;
}

.header__title
{
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	margin: 2px;
	line-height: 1;
}

.navigation
{
}

.navigation__list
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}

.navigation__link
{
}

.navigation__link--fake
{
	border: none;
	background-color: transparent;
	display: inline;
	padding: 0;
}

.game
{
	padding: 30px;
	display: grid;
	place-items: center;
	grid-template-columns: 1.25fr 0.5fr 1.25fr;
	grid-template-areas:
		"user-profile vs-label computer-profile"
		"game-status game-status game-status"
		"game-choices game-choices game-choices"
		"confirm-button confirm-button confirm-button"
		"account-warning account-warning account-warning";
}

.game--limited-width
{
	width: 800px;
	margin: auto;
}

.game__player-profile
{
	margin: auto;
}

.game__player-profile--user
{
	grid-area: user-profile;
	margin-right: 50px;
}

.game__player-profile--computer
{
	grid-area: computer-profile;
	margin-left: 50px;
}

.game__player-choice-container
{
	padding: 50px;
	border-radius: 100%;
	border-style: solid;
	border-color: #679436;
	border-width: 4px;
}

.game__player-choice
{
	width:  80px;
	height:  80px;
	display: block;
}

.game__player-name
{
	font-size: 1.5rem;
	margin: 5px auto;
	text-align: center;
	overflow: hidden;
	max-width: 150px;
	text-overflow: ellipsis;
}

.game__vs-label
{
	font-size: 1.6rem;
	text-align: center;
	grid-area: vs-label;
}

.game__status
{
	text-align: center;
	font-size: 2rem;
	margin: 10px;
	grid-area: game-status;
}

.game__choices
{
	display: flex;
	grid-area: game-choices;
}

.game__choice-button
{
	background-color: transparent;
	padding: 20px;
	margin: 20px;
	border-radius: 100%;
	border: solid 3px #e5e5e5;
	cursor: pointer;
}

.game__choice-button--selected
{
	border-color: #679436;
}

.game__choice-button:hover
{
	border-color: #87a330;
}

.game__choice-image
{
	width:  50px;
	height:  50px;
	display: block;
}

.game__confirm-button
{
	grid-area: confirm-button;
}

.game__account-warning
{
	margin: 10px;
	grid-area: account-warning;
}

.article
{
	padding: 20px;
}

.article--centered-text
{
	text-align: center;
}

.article--limited-width
{
	width: 800px;
	margin: auto;
}

.article__title
{
	font-size: 1.3em;
}

.article__paragraph
{
}
